---
Checks: '*,-llvmlibc-*,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers,-modernize-use-trailing-return-type,-altera-struct-pack-align,-fuchsia-default-arguments-calls,-modernize-use-std-print,-cppcoreguidelines-pro-type-vararg,-hicpp-vararg,-altera-unroll-loops,-misc-non-private-member-variables-in-classes,-fuchsia-overloaded-operator'
WarningsAsErrors: 'True'
...
